{#
  Custom template for /user/login only.
  Does NOT interfere with other pages.
#}

{{ attach_library('fullservice/accessory-styling') }}
{{ attach_library('fullservice/accessory-scripts') }}

<div class="login-page-wrapper">
  <div id="cursor">
    <div id="cursor-wrapper">
      <div id="cursor-dot">
      </div>
    </div>
  </div>

  <main class="login-main">
    {{ page.content }}
  </main>

</div>
